@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background: #dddddd;
  font-family: "Poppins", sans-serif;
}

.country-info {
  display: flex;
  flex-flow: row wrap;
  flex: 3 1 30%;
}

.text--no-decoration {
  text-decoration: none;
}

.header-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #bbbbbb;
  height: 80px;
  font-weight: bold;
  letter-spacing: 0.125em;
}

.header-link {
  padding: 0.5rem 1rem;
}

.logo__icon {
  width: 60px;
  height: 60px;
}

.country-content__list {
  margin: 1rem;
}

.country-image__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.country-content__list {
  padding: 2rem;
  width: 240px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 1rem;
}

.country-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header > section {
  display: flex;
  
}

.logo {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline-end: 2rem;
  font-family: "Roboto Slab", serif;
  align-items: center;
  flex-wrap: nowrap;
font-family: "Roboto Slab", serif;
}

.logo__icon,
.logo__headline {
  padding-inline-end: 2rem;
}

.logo__country-header {
  flex: 7;
}

.footer__text {
  text-align: right;
}

.title-page__nav-links {
  position: relative;
  text-align: center;
  color: white;
}

.title-page__nav-links > div {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  height: 100px;
}

.nav-link img {
  width: 80%;
  height: 100px;
  object-fit: cover;
}

.title-page__countryImage--overlay-text {
  font-size: 28px;
  line-height: 40%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
}

main {
  margin-block-start: 4rem;
}

.country-name {
  text-align: center;
}

.header-link.text--no-decoration:active {
  background-color: #ffffffff;
  border-radius: 50px;
}

.active {
  background-color: #ffffffff;
  border-radius: 50px;
}